<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Page age id majeur</title>
</head>
<body>
<header>
    Page age id majeur
</header>
<main>
    <h1>Vous avez plus de 18 ans</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut, beatae commodi consequuntur ea error facere facilis iure, magnam nisi nulla numquam perspiciatis placeat possimus rem similique suscipit ut. Quisquam, quod?</p>
</main>
</body>
</html>