<!doctype html>
<html lang=fr>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <main>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam id labore non odit quam. Corporis enim error ex excepturi impedit maiores nesciunt nisi, placeat porro quibusdam reprehenderit rerum voluptate voluptates!</p>
    </main>
    <aside>
        {% if boolean_key %}
        <p>
            Conditionné, avec booleen.
        </p>
        {% endif %}
    </aside>
</body>
</html>
